section.flipping_container {
	display: grid;
	place-content: center;
	width: 100vw;
	height: 100vh;
}
.card {
	width: 400px;
	--level-one: translateZ(3rem);
	--level-two: translateZ(6rem);
	--level-three: translateZ(9rem);
	$clr: #b7c9e5;
	&:hover {
		.card__content {
			transform: rotateY(0.5turn);
		}
	}
	&__content {
		text-align: center;
		position: relative;
		padding: 15em 5em;
		transition: transform 3s;
		transform-style: preserve-3d;
		.card__front,
		.card__back {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 5em 3em;
			backface-visibility: hidden;
			transform-style: preserve-3d;
			display: grid;
			align-content: center;
		}
		.card__front {
			background-color: $clr;
			background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
			background-size: cover;
			background-blend-mode: overlay;
			color: #333;
			&:before {
				content: "";
				position: absolute;
				$spacer: 1em;
				top: $spacer;
				bottom: $spacer;
				left: $spacer;
				right: $spacer;
				border: 3px solid currentColor;
				transform: var(--level-one);
			}
			h3 {
				font-size: 3.5rem;
				transform: var(--level-three);
				order: 2;
				text-transform: uppercase;
			}
			p {
				transform: var(--level-two);
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 0.75rem;
				font-weight: 700;
				opacity: 0.7;
			}
		}
		.card__back {
			transform: rotateY(0.5turn);
			color: $clr;
			background: #333;
			p {
				transform: var(--level-two);
				font-weight: 400;
				font-size: 1.5rem;
				line-height: 1.6;
			}
		}
	}
}
