*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--clr-dark: rgb(13, 17, 19);
	--clr-light: rgb(255, 255, 255);
	--clr-secondary: rgb(0, 66, 199);
	--br: 0.5em;
	--transition: transform 200ms cubic-bezier(0.21, 1.06, 0.81, 1);
}
body {
	font-family: sans-serif;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}
.main-list {
	width: 500px;
	margin-inline: auto;
	margin-top: 40px;
	li {
		a {
			border: 1px solid black;
			padding: 10px;
			border-radius: 10px;
			margin-bottom: 10px;
			cursor: pointer;
			transition: all 200ms ease-in;
			display: block;
			&:hover,
			&:focus {
				color: white;
				background-color: black;
				transform: scale(1.2);
			}
		}
	}
}
h1,
h2,
h3,
p {
	margin: 0;
}
img {
	max-width: 100%;
}
.matrix {
	overflow: hidden;
	canvas {
		position: absolute;
		inset: 0;
	}
}
