*,
*::before,
*::after {
	box-sizing: border-box;
}
:root {
	--clr-dark: rgb(13, 17, 19);
	--clr-light: rgb(255, 255, 255);
	--clr-secondary: rgb(0, 66, 199);
	--br: 0.5em;
	--transition: transform 200ms cubic-bezier(0.21, 1.06, 0.81, 1);
}
body {
	min-height: 100vh;
	font-family: sans-serif;
	display: grid;
	place-items: center;
	background-color: var(--clr-dark);
	color: var(--clr-light);
}
h1,
h2,
h3,
p {
	margin: 0;
}
img {
	max-width: 100%;
}
.btn {
	cursor: pointer;
	border: 0;
	background-color: var(--clr-secondary);
	border-radius: 100vw;
	color: var(--clr-light);
	padding: 0.5em 1.5em;
	font-weight: bold;
	margin-bottom: 1rem;
}
.card {
	position: relative;
	width: 12.5em;
	cursor: pointer;
}
.rank {
	font-weight: bold;
	position: absolute;
	top: 0;
	right: 1em;
	z-index: 1000;
	background-color: rgba($color: #000000, $alpha: 0.65);
	padding: 0.5em 0.5em 0.75em;
	clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
	font-size: 1.125em;
	transition: var(--transition);
}
.streamers {
	display: flex;
	text-align: center;
	img {
		width: 2em;
		height: 2em;
		border-radius: 50%;
	}
	.icon img {
		border-radius: 0;
	}
}
.front {
	transition: ease-in-out 250ms;
	.thumbnail {
		filter: grayscale(80%) opacity(0.9);
		border-radius: var(--br);
		margin-inline: auto;
	}
	.name {
		margin: 0.75em 0;
	}
	.links {
		display: none;
		flex-direction: row;
		justify-content: space-evenly;
		margin-block: 1rem;
	}

	.stats {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.streamers img {
		&:nth-of-type(1) {
			transform: translateX(50%);
			z-index: 1;
		}
		&:nth-of-type(2) {
			transform: translateX(25%);
		}
	}
}
.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 10rem;
}
.back {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 49%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.6em;
	transform: translateY(35%);
	transition: transform 200ms ease, opacity 100ms;
	.streaming-info {
		margin: 1rem 0;
	}
	.game-stat {
		font-size: 1.125rem;
		text-align: center;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		span {
			display: block;
			font-size: 0.85rem;
		}
	}
}
.background {
	background-color: rgb(40, 46, 54);
	position: absolute;
	inset: 0;
	z-index: -1;
	transform: scale(0.2 0.9);
	border-radius: var(--br);
	opacity: 0;
}

.card:hover {
	.rank {
		transform: translate(150%, -68%);
	}
	.front {
		transform: translateY(-30%) scale(0.8);
		.thumbnail {
			filter: grayscale(0%) opacity(1);
		}
		.name {
			display: none;
			animation: gameName 250ms forwards;
		}
		.links {
			display: flex;
			animation: gameName 250ms forwards;
		}
	}
	.stats {
		opacity: 0;
	}
	.back {
		opacity: 1;
		transform: translateY(0);
		transition: transform 200ms ease, opacity 100ms linear;
		.streamers {
			width: 100%;
			justify-content: space-between;
		}
		.streamer {
			font-size: 0.9rem;
			.name {
				font-weight: bold;
			}
		}
	}
	.background {
		transition: var(--transition), opacity 100ms linear;
		opacity: 1;
		transform: scale(1.35, 1.3) translateY(5%);
	}
}

@keyframes gameName {
	0% {
		text-align: left;
		opacity: 1;
	}
	20% {
		text-align: left;
		opacity: 0;
	}
	50% {
		text-align: center;
		opacity: 0;
		transform: scale(1.2);
	}
	100% {
		text-align: center;
		opacity: 1;
	}
}
