.skribbl {
	width: 90%;
	margin-inline: auto;
	margin-top: 5rem;
	text-align: center;
	ul {
		display: flex;
		flex-flow: row wrap;
		gap: 10px 15px;
		margin-top: 10px;
		li {
			padding: 5px 10px;
			background-color: rgba(116, 111, 106, 0.808);
			border-radius: 2px;
			color: #fff;
			font-weight: bold;
		}
	}

	.divOuter {
		margin-inline: auto;
		overflow: hidden;
		div {
			left: 0;
			position: sticky;
			input {
				letter-spacing: 42px;
				border: 0;
				background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
				background-position: bottom;
				background-size: 50px 1px;
				background-repeat: repeat-x;
				background-position-x: 35px;
			}
		}
	}
}
