section.tilting_cards-container {
	$shadow: 0px 1px 2.2px rgba(0, 0, 0, 0.02), 0px 2.5px 5.3px rgba(0, 0, 0, 0.028),
		0px 4.6px 10px rgba(0, 0, 0, 0.035), 0px 8.3px 17.9px rgba(0, 0, 0, 0.042),
		0px 15.5px 33.4px rgba(0, 0, 0, 0.05), 0px 37px 80px rgba(0, 0, 0, 0.07);
	display: grid;
	place-content: center;
	min-height: 100vh;
	.tilting_cards-wrapper {
		--perspective: 500px;
		--rotateX: 0;
		--rotateY: 0;
		--rotationZ: 0;
		--angle: 15deg;
		position: relative;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.mouse_position-tracker {
		//? how did changing it to position absolute work here?
		position: absolute;
		opacity: 0.2;
		inset: 0;
		z-index: 2;
		outline: 3px solid purple;
		// 1rd 4th and 7th
		&:nth-of-type(3n - 2) {
			// !!! HOW!!!
			// background-color: yellow;
			grid-column: 1 / 2;
		}
		// 3rd 6th and 9th
		&:nth-of-type(3n - 1) {
			// background-color: green;
			grid-column: 2 / 3;
		}

		&:nth-of-type(3n) {
			// background-color: red;
			grid-column: 3 / 4;
		}
		// 1,2,3
		&:nth-child(n + 1):nth-child(-n + 3) {
			grid-row: 1 / 2;
		}
		// 4, 5, 6
		&:nth-child(n + 4):nth-child(-n + 6) {
			grid-row: 2 / 3;
		}
		// 7,8,9
		&:nth-child(n + 7):nth-child(-n + 9) {
			grid-row: 3 / 4;
		}
	}
	.mouse-position-tracker:nth-child(1):hover ~ .tilting_card-content {
		--rotateX: var(--angle);
		--rotateY: calc(var(--angle) * -1);
		background-color: red !important;
	}
	.tilting_card-content {
		display: grid;
		place-content: center;
		text-align: center;
		box-shadow: $shadow;
		padding: 2rem;

		grid-column: 1 / -1;
		grid-row: 1 / -1;
		aspect-ratio: 1 / 2;
		transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(var(--rotateY));
		background-image: url("../public/cool-background.png");
		background-size: cover;
		background-position: center;
		color: white;
	}
}
